# some test file
test.py


# jupyter checkpoints
.ipynb_checkpoints/*
/multiprocess/.ipynb_checkpoints/*
/tkinter/.ipynb_checkpoints/*

# cache
__pycache__/*
/multiprocess/__pycache__/*



# tmp file
/multiprocess/tmp_task.py

# data
data/*
tkinter/ins.gif
dummy_data.txt